 h1{
    text-align: center;
    font-family: cursive;
    font-weight: 900;
  }

  .centre{
display: flex;
justify-content: center;
align-items: center;
gap: 30px;
  }

  #start{
    padding: 15px 30px;
    border-radius: 5px;
    font-family: cursive;
    font-size: 25px;
    font-weight: 800;
  }
  #stop{
    padding: 15px 30px;
    border-radius: 5px;
    font-family: cursive;
    font-size: 25px;
    font-weight: 800;
  }
  
  @media screen and (max-width: 450px) {
    .centre{
        flex-wrap: wrap;
    }
    #start{
    width: 200px;
    border-radius: 5px;
    font-family: cursive;
    font-size: 25px;
    font-weight: 800;
  }
  #stop{
    width: 200px;
    border-radius: 5px;
    font-family: cursive;
    font-size: 25px;
    font-weight: 800;
  }
  }
